<form [formGroup]="f" >
  <div class="form-group">
    <label for="Nom">Nom :</label>
    <input type="text" class="form-control" id="Nom"  formControlName="nom"  placeholder="Nom">
  </div>
  <div class="alert alert-danger" *ngIf="nom.errors && nom.touched">
    <div *ngIf="nom.hasError('required')">Nom est requis</div>
  </div>
  <div class="form-group">
    <label for="Prenom">Prenom</label>
    <input type="text" class="form-control" id="Prenom" formControlName="prenom" placeholder="Prenom">
  </div>
  <div class="alert alert-danger" *ngIf="prenom.errors && prenom.touched">
    <div *ngIf="prenom.hasError('required')">Prenom est requis</div>
  </div>
  <div class="form-group">
    <label for="cin">CIN</label>
    <input type="number" class="form-control" id="cin" formControlName="cin" placeholder="CIN">
  </div>
  <div class="alert alert-danger" *ngIf="cin.errors && cin.touched">
    <div *ngIf="cin.hasError('required')">CIN est requis</div>
    <div *ngIf="cin.hasError('pattern')">CIN doit contenier 8 chiffres</div>
  </div>
  <div class="form-group">
    <label for="Email">Email</label>
    <input type="email" class="form-control" id="Email" formControlName="email" placeholder="Email">
  </div>
  <div class="alert alert-danger" *ngIf="email.errors && email.touched">
    <div *ngIf="email.hasError('required')">Email est requis</div>
    <div *ngIf="email.hasError('pattern')">Email invalide</div>
  </div>
  <div class="form-group">
    <label for="pass">Mot de passe</label>
    <input type="password" class="form-control" id="pass" formControlName="password" placeholder="Mot de passe">
  </div>
  <div class="alert alert-danger" *ngIf="password.errors && password.touched">
    <div *ngIf="password.hasError('required')">Mot de passe est requis</div>
    <div *ngIf="password.hasError('minlength')">Mot de passe se compose de 8 caractere au minimum</div>
  </div>
  <div class="form-group">
    <label for="tel">Téléphone</label>
    <input type="tel" class="form-control" id="tel" formControlName="phoneNumber" placeholder="Téléphone">
  </div>
  <div class="alert alert-danger" *ngIf="phoneNumber.errors && phoneNumber.touched">
    <div *ngIf="phoneNumber.hasError('required')">Num Téléphone est requis</div>
    <div *ngIf="phoneNumber.hasError('required')">Num Téléphone invalide</div>
  </div>
  <div class="form-radio">
    <label >Role :</label>&nbsp;
    <label class="radio-inline"> <input type="radio" formControlName="type"  value='Admin' name="type" >Admin</label> &nbsp;
    <label class="radio-inline"><input type="radio"  formControlName="type" value='Employee' name="type">Employee</label>

  </div>
  <div class="alert alert-danger" *ngIf="type.errors && type.touched">
    <div *ngIf="type.hasError('required')">Num Téléphone est requis</div>
  </div>
  <button type="button" class="btn btn-primary" [disabled]="f.invalid" routerLink="" (click)="update()"  >Modifier</button> &nbsp;
  <button type="button" class="btn btn-warning" routerLink="">
    Cancel
  </button>
</form>
<router-outlet></router-outlet>
