<td >{{conge.dateDebut}}</td>
<td>{{conge.dateFin}}</td>
<td><button type="button" [ngClass]="modifier?'btn btn-danger':'btn btn-warning'" (click)="modif()">{{modifier?'Annuler':'Modifier'}}</button></td>
<td><button type="button" class="btn btn-danger" (click)="delete()" >Supprimer</button></td>
<form  #fh='ngForm' *ngIf="modifier">
  <div class="form-group row">
    <label for="example-date-input" class="col-2 col-form-label">Date debut</label>
    <div class="col-10">
      <input #dateDebut="ngModel" class="form-control" type="date"  id="exampledate-input" name="dateDebut" ngModel required>
    </div>
    <div class="alert alert-danger" *ngIf="dateDebut.invalid && dateDebut.touched">
      la date de debut est requise
    </div>
  </div>
  <div class="form-group row">
    <label for="example-date-input" class="col-2 col-form-label">Date fin</label>
    <div class="col-10">
      <input #dateFin="ngModel" class="form-control" type="date"  id="example-date-input" name="dateFin" ngModel required>
    </div>
    <div class="alert alert-danger" *ngIf="dateFin.invalid && dateFin.touched">
      la date de fin est requise
    </div>
  </div>
  <button type="submit" class="btn btn-success" (click)="update(fh.value)" [disabled]="fh.invalid">Modifier</button>
</form>

