
<p class="container"><button type="submit" [ngClass]="show?'btn btn-warning':'btn btn-success'" (click)="manageShow()" >{{show?'Annuler':'Ajouter Congé'}}</button></p>
<form *ngIf="show" #fh='ngForm' (ngSubmit)="Affecter_conge(fh.value)">
  <div class="form-group row">
    <label for="example-date-input" class="col-2 col-form-label">Date debut</label>
    <div class="col-10">
      <input #dateDebut="ngModel" class="form-control" type="date"  id="exampledate-input" name="dateDebut" ngModel required>
    </div>
    <div class="alert alert-danger" *ngIf="dateDebut.invalid && dateDebut.touched">
      la date de debut est requise
    </div>
  </div>
  <div class="form-group row">
    <label for="example-date-input" class="col-2 col-form-label">Date fin</label>
    <div class="col-10">
      <input #dateFin="ngModel" class="form-control" type="date"  id="example-date-input" name="dateFin" ngModel required>
    </div>
    <div class="alert alert-danger" *ngIf="dateFin.invalid && dateFin.touched">
      la date de fin est requise
    </div>
  </div>
  <button type="submit" class="btn btn-danger" [disabled]="fh.invalid">Valider</button>
</form>

<table class="table table-dark">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Date debut</th>
    <th scope="col">Date fin</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let e of conges; let i=index">
    <th scope="row">{{i}}</th>
    <app-conge  [conge]="e" [u]="user" ></app-conge>
  </tr>

  </tbody>
</table>

