<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="search" placeholder="Recherche par nom" aria-label="Search" [(ngModel)]= "search_condition" name="search_condition">
</form>

<table class="table table-hover">
  <thead>
  <tr class="float-left">
    <th scope="col">#</th>
    <th scope="col">Nom</th>
    <th scope="col">Prenom</th>
    <th scope="col">email</th>
    <th scope="col">téléphone</th>
    <th scope="col">Role</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let u of users">
<app-user  [user]="u" [searchCondition]="search_condition" ></app-user>

  </tr>


  </tbody>
</table>

