<tr scope="row" *ngIf="searchCondition==null  || searchCondition== '' || test.indexOf(searchCondition.toLowerCase())!=-1 ">
  <td>{{user.id}}</td>
  <td>{{user.nom}}</td>
  <td>{{user.prenom}}</td>
  <td>{{user.email}}</td>
  <td>{{user.phoneNumber}}</td>
  <td>{{user.type}}</td>
  <td>
    <button class="btn btn-warning" [routerLink]="['update-user',user.id]" [state]="user">Modifier</button>
  </td>
  <td>
    <button class="btn btn-danger" (click)="delete()">Supprimer</button>
  </td>
  <td>
    <button class="btn btn-info" routerLink="list-conge" (click)="provide(user)">{{user.hollidays.length}} Congé</button>
  </td>
</tr>
<router-outlet></router-outlet>
